@font-face {
font-family: 'SEGA LOGO FONT';
font-style: normal;
font-weight: normal;
src: local('SEGA LOGO FONT'), url('SEGA.woff') format('woff');
}

h1 {
  border: black;
  font-family: 'SEGA LOGO FONT';
  -webkit-text-stroke: 1px black;
  font-weight: 300;
  color: #e4e2e2;
  font-size: 70px;
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform 0.25s ease-out;
}

h1:hover,
h1:focus {
  transform: scale(1.05);
}
